.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh; 

}

.welcome-title{
    color: white;
    font-size: 40px;
    
}
.title {
    flex: 0 0 auto;
    text-align: center;
    margin-top: 10%;


}
.nav-bar {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 10px;
    
    color: white;
    border-radius: 20px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    position: sticky;
    margin-top: 5px;
    margin-bottom: 15px;
}
.nav-bar-buttons {
    display: flex;

}

.nav-button {
    background: none;
    
    cursor: pointer;
    margin-left: 10px;

}

.nav-button img {
    width: 30px;
    height: 30px;
    
}

.nav-button:hover,
.nav-button-check:hover {
    background-color: white;
    transform: scale(1.05);
}

.nav-button,
.nav-button-check {
    background-color: #F4AC5B;
    color: white;
    border:3px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 45px;
    cursor:pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.content{
 display: flex;
 
}

.img-logo img {
    max-width: 102%;
    animation: anime 1.4s ease forwards; 
    opacity: 0; 
}
@keyframes anime {
    from {
        transform: translateX(50px); 
        opacity: 0; 
    }
    to {
        transform: translateX(0); 
        opacity: 1; 
    }
}


@media (max-width: 768px) {
    body {
        height: 100vh;
        overflow-x: hidden; /* Adicione overflow-x: hidden para evitar rolagem horizontal */
    }
    .nav-bar {
        display: flex;
        flex-direction: column;
        background-color:saddlebrown ;
        align-items: center;
        padding: 10px;
        border-radius: 20px;
        width: 100%;
        max-width: 800px;
        box-sizing: border-box;
 

        margin-top: 5px;
        margin-bottom: 15px;
    }
    .nav-bar-buttons {
        display: flex;
        justify-content: center;
    }
    .nav-button {
        border: 2px solid black;
        margin-left: 5px;
    }

    .content {
        flex-direction: column; 
        text-align: center; 
      
        
       
    }
.container{
    overflow-x: hidden; 
    height: 100vh;

}
    .img-and-text {
        flex-direction: column; 
        align-items: center; 
    }


.img-logo img {
        max-width: 100%; 
        height: auto;
        animation: anime 1.4s ease forwards; 
        opacity: 0; 
}
.welcome-title {
        text-align: center;
        font-size: 25px;
        margin-top: 30%;
}


@keyframes anime {
        from {
            transform: translateX(50px); 
            opacity: 0; 
        }
        to {
            transform: translateX(0); 
            opacity: 1; 
        }
}

}



