<div class="main">
  <div class="nav-bar">
    <nav class="nav-bar-buttons">
      <button class="nav-button" (click)="goToLogin()">
        <img src="../../../assets/sair (1).png" alt="" title="Sair">
      </button>
      <button class="nav-button" (click)="goToEspera()">
        <img src="../../../assets/clock.png" alt="" title="Pedido em Espera" >
      </button>
      <button class="nav-button">
        <img src="../../../assets/correct_121331.png" alt="" title="Pedido Finalizado">
      </button>
    </nav>
  </div>

  <div class="content">
    <div class="title">
      <p class="welcome-title">SEJA BEM-VINDO, CHEF!</p> 
    </div>

    <div class="img-logo">
      <img src="../../../assets/chef.png" alt="logo chefe">    
    </div>
  </div>
</div>
