<main class="main">
    <div class="logo-one">
        <img src="../../../assets/logo-white.png" alt="nordestina-burger">
    </div>
    <section class="section-column">
        <h1 class="title">SELECIONE SEU PEDIDO</h1>
        
        <!-- Botões para selecionar os tipos de produtos -->
        <div class="product-filters">
            <button class="filter-button" (click)="selectFilter('Hamburgueres')">Hamburgueres</button>
            <button class="filter-button" (click)="selectFilter('Café da Manhã')">Café da Manhã</button>
            <button class="filter-button" (click)="selectFilter('Bebidas')">Bebidas</button>
        </div>

        <!-- Listagem de produtos conforme filtro selecionado -->
        <div *ngIf="selectedFilter">
            <h2 class="product-title">{{ selectedFilter }}</h2>
            <div class="product-container" *ngFor="let product of products[selectedFilter]">
                <div class="product" (click)="addItem(product)">
                    <p class="product-name">{{ product.name }}</p>
                    <p class="product-price">R$ {{ product.price }}</p>
                </div>
            </div>
        </div>

        <hr> <!-- Linha de separação -->

        <div class="order-summary" *ngIf="selectedFilter">
            <h2 class="summary-title">Resumo da Compra</h2>
            <div class="client-name-container">
                <label for="clientName" class="client-name-label">Nome do Cliente:</label>
                <input type="text" id="clientName" [(ngModel)]="clientName" class="client-name-input" placeholder="Digite o nome do cliente">
            </div>
            <div *ngFor="let item of selectedItems">
                <p class="item-name">{{ item.name }}</p>
                <p class="item-quantity">Quantidade: {{ item.quantity }}</p>
                <p class="item-price">Valor: R$ {{ item.price }}</p>
                <button class="item-remove" (click)="removeItem(item)">Remover</button>
            </div>
            <p class="total">Total: R$ {{ calculateTotal() }}</p>
            <button class="send-button" (click)="sendOrder()">Enviar Pedido</button>
        </div>
        <button class="button-back" (click)="goToLogin()">SAIR</button>
    </section>
</main>
