


body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

/* Estilos para a imagem do logotipo */
.logo-one {
  text-align: center;
  margin: 20px;
}

.logo-one img {
  max-width: 231px; 
  max-height: 215px; 
  width: auto;
  height: auto;
}

/* Estilos para a barra de navegação */
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
 
  padding: 10px 0;
}

.nav-bar i{
  color: blue;
  width: 20px;
}



/* .nav-button:not(:last-child) {
  margin-right: 10px;
} */

/* Estilos para a classe main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 5px;
}


.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.filter-button {
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 10px;
}

.product-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name {
  margin: 0;
}

.sections-container {
  display: flex;
  justify-content: space-between; /* Isso mantém as seções lado a lado */
  align-items: flex-start; /* Isso alinha as seções ao topo */
  gap: 20px;
}

.section-column {
  flex: 1;
  border-right: 1px solid #ccc;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  
}

.section-right {
  flex: 1;
  border-right: 1px solid #ccc;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  
}






.summary-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.nameClient input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.order-summary {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
}



.item-name {
  flex: 1;
  font-weight: bold;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-button {
  padding: 5px 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.item-quantity {
  margin: 0 10px;
}

.item-price {
  margin: 0;
  margin-right: 10px;
}

.item-remove {
  border: none;
  background-color: transparent;
  color: red;
  cursor: pointer;
}

.total {
  font-weight: bold;
  margin-top: 10px;
}

.send-button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.button-back {
  padding: 10px 20px;
  background-color: #ccc;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* Estilos para o botão de filtro selecionado */
.filter-button.active {
  background-color: white;
  color: black;
}



/* .nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px 0;
}

.nav-button:not(:last-child) {
  margin-right: 10px;
} */