<main class="main">
    <section class="section-column">
        <img src="../../../assets/logo-white.png" alt="nordestina-burger">
        <form class="form-login" (ngSubmit)="onSubmit()">
            <p class="text-form">Adicione seus dados para começar:</p>
            <div>
                <input type="email" id="email-input" name="email" [(ngModel)]="email" placeholder="E-mail" required>
                <div *ngIf="emailError" class="error-message">Por favor, insira um endereço de e-mail.</div>
            </div>
            <div>
                <input type="password" id="password-input" name="password" [(ngModel)]="password" placeholder="Senha" required>
                <div *ngIf="passwordError" class="error-message">Por favor, insira a senha.</div>
            </div>
            <div>
                <button type="submit" class="acessar-button">ENTRAR</button>
            </div>
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        </form>
    </section>
</main>

