<div class="container">
    <div class="img-hamburguer">
        <img src="../../../assets/hamburguer.png" alt="foto de hamburguer">
    </div>
    <ul class="buttons">
        <h1 class="text-pedido">FAÇA SEU PEDIDO:</h1>
        <input type="text" class="name" id="clientName" [(ngModel)]="clientName" placeholder="NOME DO CLIENTE">
        <p class="error-message" *ngIf="showErrorMessage">Por favor, insira o nome do cliente.</p>
        <li>
            <button (click)="goToPedido('selection')">SELECIONE AQUI O SEU PEDIDO</button>
        </li>
        <button class="button-back" (click)="goToLogin()">VOLTAR</button>
    </ul>
</div>
